.project-details {
    margin: 20px 0;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .project-details h2 {
    margin-top: 0;
  }
  
  .project-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .project-details p {
    font-weight: bold;
  }
  
  .project-details ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .project-details li {
    margin-bottom: 20px;
  }
  
  .project-details li img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  