



/*********************************/
/*********************************/

.bandeau2
{
	background-color:  #C0C0C088; 
	height: 10px;
	margin-left: -1%;
	margin-right: -0.3%;
}

.bas01
{

	margin-right: 0%;
	margin-left: 0%;
    background: linear-gradient(150deg ,#ffffffff, #ffffffaa);
    left: 0%; 

}

/************************************/

.pdf
{
	width: 70%;
	height: 1000px;
	margin-left: 15%;
}

.cvimg
{
	width: 100%;

}

.imgcv
{
	color: #7E5BFF;
	text-decoration: underline;
	margin-left: 15%;
	font-size: 150%;
	font-style: oblique;
	font-weight: bold;
	text-align: center;
}
.imgcv:hover
{
	font-size: 160%;
	color: #0023AC;
	text-decoration: underline overline #0036FC;
}

.cvimg01
{
	padding-left: 20%;
}