




/*********************************/
/*********************************/

.bandeau2
{
	background-color:  #C0C0C088; 
	height: 10px;
	margin-left: -1%;
	margin-right: -0.3%;
}

.bas01
{

	margin-right: 0%;
	margin-left: 0%;
    background: linear-gradient(150deg ,#ffffffff, #ffffffaa);
    left: 0%; 

}


.com01
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	width: 100%;
	/*height: 80px;*/
}


.tit
{
	text-align: start;
	font-size: 190%;
	margin-left: 0%;
	text-decoration: underline;
	width: 100%;
}
.tit1
{
	text-align: start;
	font-size: 180%;
	margin-left: 8%;

	width: 100%;
}
.tit2
{
	text-align: start;
	font-size: 150%;
	margin-left: 10%;
	width: 100%;
}

.strcom0
{
	font-size: 110%;
	color: #7E0000;
}
.strcom
{
	font-size: 120%;
	color: red;
	margin-left: 10%;
}

.strcom2
{
	font-size: 110%;
	color: #3B0000;
	margin-left: 10%;
}